encryption = "age"
[age]
    identity = "~/chezmoi-encrypt.txt"
    recipient = "age1t6d6xlasxkzhe0k0hqapwtwun20unvgdsx8ht7hvxw0su6zegfeqdpc5eg"

{{- $email := promptStringOnce . "email" "Personal Email address"}}
{{- $realName := promptStringOnce . "realName" "Real name (for git/GPG)"}}
{{- $work := promptBoolOnce . "work" "Is this a work machine?"}}

{{- $isWsl := false -}}
{{- if stat "/proc/sys/fs/binfmt_misc/WSLInterop" -}}
{{-   $isWsl = true -}}
{{- end }}

{{- $winUser := "" -}}
{{- if $isWsl -}}
{{-   $winUserDefault := output "sh" "-c" "cd /mnt/c && cmd.exe /c 'echo %USERNAME%' 2>/dev/null" | trim -}}
{{-   $winUser = promptStringOnce . "winUser" "Windows username" $winUserDefault -}}
{{- end }}

[data]
    email = {{ $email | quote }}
    realName = {{ $realName | quote }}
    work = {{ $work }}
    isWsl = {{ $isWsl }}
    winUser = {{ $winUser | quote }}